html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*overflow-y: scroll;*/
}

body {
    font-family: 'Helvetica', sans-serif;
    background: -webkit-linear-gradient(left top, #BBDEFB, #B0C4DE) fixed; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,#BBDEFB, #B0C4DE) fixed; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #BBDEFB, #B0C4DE) fixed ; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,  #BBDEFB, #B0C4DE) fixed; /* Standard syntax */
    height: 100%;
    margin: 8px;
}

p{
    color:#6c6c6c;
    font-size: medium;
}

/*.logout-container {
    text-align: right;
}*/

/* Sign Out Button */
.logoutButton {
    -webkit-appearance:none;
    -moz-appearance:none;
    max-width: 200px;
    float:right;
    margin-bottom: 20px;
    padding: 6px 5px 6px 5px;
    background:none;
    background-color: #214864;
    border:none;
    color:white;
    -webkit-border-radius: 5px; /*For Safari, etc. */
    -moz-border-radius: 5px; /* For Mozilla, etc. */
    border-radius: 5px; /* CSS3 Feature */
    opacity: 1.0;
}

 .logoutButton:hover {
    opacity: 0.75;
    cursor: pointer;
}

div.forms {
    position: relative;
    margin: 40px auto;
    width: 500px;
    background-color: white;
    border-radius: 25px;
    bottom: auto;
    clear:both;
}

input#habit_title {
    height: 30px;
    width: 350px;
    font-size:medium;
}

input#file-input {
    display: none;
}

input#notes {
    height: 30px;
    width: 350px;
    font-size:medium;
}

div.scroll {
    margin-top: -5px;
    width: 450px;
    height:210px;
    overflow: auto;
}

img.icon {
    width: 90px;
    height: 90px;
    margin: 5px 5px 5px 5px;
    border-radius: 25px;
}

/* make it so the user can see the scrollbar */
::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #8FBBDE;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

img.icon:hover{
    margin: 0px 0px 0px 0px;
    border: 5px solid #8FBBDE;
    cursor: pointer;
}

img.icon-selected {
    margin: 0px 0px 0px 0px;
    border: 5px solid #42A5F5;
}

/* most phones */
@media (max-width: 500px) {
    div.forms {
        position: relative;
        margin: 20px auto;
        top: 0%;
        width: 350px;
        background-color: white;
        border-radius: 25px;
    }

    input#habit_title{
        height: 30px;
        width: 250px;
        font-size:small;
    }

    input#notes{
        height: 30px;
        width: 250px;
        font-size:small;
    }

    div.scroll {
        margin-top: -5px;
        width: 310px;
        height:150px;
        overflow: auto;
    }

    img.icon{
        width: 60px;
        height: 60px;
        margin: 5px 5px 5px 5px;
        border-radius: 15px;
    }

    img.icon:hover{
        margin: 0px 0px 0px 0px;
        border: 5px solid #8FBBDE;
        cursor: pointer;
    }

    img.icon-selected {
        margin: 0px 0px 0px 0px;
        border: 5px solid #42A5F5;
    }

    p{
        color:#6c6c6c;
        font-size: small;
    }
} /* end media 500px */

/* for iphone screen */
@media screen and (max-width: 350px)
{
    div.forms
    {
        width: 300px;
        margin-bottom: 10px;
    }

    div.scroll {
        margin-top: -5px;
        margin-left: -5px;
        width: 270px;
        height:130px;
        overflow: auto;
    }

    img.icon{
        width: 55px;
        height: 55px;
        margin: 3px 3px 3px 3px;
        border-radius: 15px;
    }

    img.icon:hover{
        margin: 0px 0px 0px 0px;
        border: 3px solid #8FBBDE;
        cursor: pointer;
    }

    img.icon-selected {
        margin: 0px 0px 0px 0px;
        border: 3px solid #42A5F5;
    }
}

h2{
    text-align:center;
    background-color: #bdbdbd;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    color:white;
    text-shadow: 0px 0px 0px black;
}


span#notes_text{
    padding-right: 5px;
}



input#save{
    -webkit-appearance:none;
    width: 49%;
    display: inline-block;
    margin: 0;
    padding: 15px;
    background: none;
    border: none;
    color: white;
    background-color: #48BA87;
    -webkit-border-radius: 5px; /*For Safari, etc. */
    -moz-border-radius: 5px; /* For Mozilla, etc. */
    border-radius: 5px; /* CSS3 Feature */  
    opacity: 1.0;
    font-size: medium;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input#save:hover{
    cursor: pointer;
}
p#save_p{
    text-align: center;
}
form{
    padding-left: 25px;
    padding-bottom: 20px;
}
div label input {
   margin-right:100px;
}

input#file-input{ 
    display: none;
}

#ck-button {  
    overflow:auto;
}

#ck-button label {
    margin:4px;
    border-radius:5px;
    /*border:1px solid #D0D0D0;*/
    background-color:#EFEFEF;
    float:left;
    width:4.0em;
}

#ck-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
    /*border:1px solid #D0D0D0;*/
    overflow:auto;

}

#ck-button label input {
    position:absolute;
    top:-100%;
}

#ck-button input:checked + span {
    background-color:#9c9696; 
    border-radius:5px;
    color:#fff;
}
#ck-button input:hover + span {
    cursor: pointer;
}

#daily-button {
    overflow:auto;
}

#daily-button label {
    margin:4px;
    border-radius:25px;
    background-color:#EFEFEF;
    float:left;
    width:2.0em;
}

span#times{
    margin: 4px;
    padding:3px 0px;
    float:left;
}

#daily-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
    /*border:1px solid #D0D0D0;*/
    overflow:auto;

}

#daily-button label input {
    position:absolute;
    top:-100%;
}

#daily-button input:checked + span {
    background-color:#9c9696; 
    border-radius:25px;
    color:#fff;
}
#daily-button input:hover + span {
    cursor: pointer;
}
