/* basic structure & layout */
html{height: 100%;}
h1{color:#888;text-align: center;}
body{
    height:100%;   
    background: -webkit-linear-gradient(left top, #BBDEFB, #B0C4DE) fixed; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,#BBDEFB, #B0C4DE) fixed; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #BBDEFB, #B0C4DE) fixed; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,  #BBDEFB, #B0C4DE) fixed; /* Standard syntax */
    font-family: Helvetica, san-sarif;
}

#habit-list{list-style: none; padding:0;}
#habit-list>li{position:relative; height: 240px;padding:5%; background:rgba(255,255,255,1); border:1px solid rgba(255, 255, 255, 0.3); border-radius:5px; margin:5px; padding:0;}

/* habit info */
.habit-info {
    padding:0;
    margin-left:20px;
}
.habit-info>li{list-style:none; height:100%; padding:0; margin-right:5px; vertical-align: middle;}
.habit-name {
    margin:0;
    padding:0;
    height:100%;
    display:inline-block;
    vertical-align: middle;
    line-height:60px;
    color:#888;
    font-size: 24px;
    position: relative;
    z-index: 4;
	
	/* Handles names that are too long for box */
	overflow: hidden;
	text-overflow: ellipsis;
}
.habit-icon{margin:0; border-radius:5px;width:100px; height:100px;}
.week-container {
    margin-top: 2px;
    margin-left: -4px;
}
.week-day {
    display: inline-block;
    background-color: #BBDEFB;
    /*border:2px solid #BBDEFB;*/
    border:2px solid rgba(65, 131, 215, 0.8);
    border-radius: 100%;
    height: 18px;
    width: 18px;
    text-align: center;
    margin-right: 2px;

}
.week-day-off {
    color: #bbb;
    display: inline-block;
    background-color: #fff;
    border:2px solid #ccc;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    text-align: center;
    margin-right: 2px;
}

.message {
    position: absolute;
    text-align:center;
    color:#888;
}
.message-total{
    /*width: 60%;*/
}
.message-total>svg{margin: 20px auto; margin-bottom: 5px;}

.graph-message {
    max-width: 300px;
    word-wrap: break-word;
    margin-left: 0px;
    display: inline-block;
    float: middle;
}

/* operations (for a existing habit) */
.habit-op {
    position:absolute;
    right:5px;
    display:inline-block;
    height: 100%;
    line-height: 60px;
    width:73%;
    text-align:center;
    top:170px;
    margin:0 auto;
}
.op {
    width:60px;
    height:60px;
    margin-right:5px;
    border-radius: 50%;
    box-shadow: 0 0 3px gray;
    padding: 5px;
    vertical-align: middle;
}
.op:focus{
    outline-style:none;
}

.op-done {
    background:rgba(0, 177, 106, 0.8);
    border:2px solid rgba(0, 128, 0, 0.3);
}
.op-done:hover {
    box-shadow: 0 0 5px gray;
    background:#00B16A;
    cursor:pointer;
}
.op-done:active{
    box-shadow: 0 0 10px gray;
    background:#00B16A;
    border:2px solid green;
}

.op-fail {
    background:rgba(242, 38, 19, 0.7);
    border:2px solid rgba(128,0,0,0.3);
}
.op-fail:hover {
    box-shadow: 0 0 5px gray;
    background: rgba(242, 38, 19, 0.82);
    cursor:pointer;
}
.op-fail:active {
    box-shadow: 0 0 10px gray;
    background:#F22613;
    border:2px solid red;
}

.button-disabled {
    background: #949494;
    border:2px solid #A9A9A9;
    cursor: default;
}
.thumb-image {
    height: 75%;
    width: 75%;
    opacity: 0.4;
}

/*** slide out options ***/

.op-edit {
    background:rgba(247, 202, 24, 0.8);
    border: 2px solid rgba(255, 255, 0, 0.3);
    height: 20px;
    width: 20px;
    padding: 0px;
}
.op-edit:hover{
    background:#F7CA18;
    cursor:pointer;
}
.op-edit:active{
    background:#F7CA18;
    border:2px solid yellow;
}

.op-del {
    background:rgba(242, 38, 19, 0.7);
    border:2px solid rgba(128,0,0,0.3);
    height: 20px;
    width: 20px;
    padding: 0px;
}
.op-del:hover{
    background:#F22613;
    cursor:pointer;
}
.op-del:active{
    background:#F22613;
    border:2px solid red;
}

.op-gear {
    position: relative;
    z-index: 3;
    background:rgba(65, 131, 215, 0.8);
    border:2px solid rgba(0,0,255,0.3);
    height: 20px;
    width: 20px;
    padding: 0px;
    margin-left: 2px;
}
.selected {
    background:#0099FF;
}
.op-gear:hover{
    background:#0099FF;
    cursor:pointer;
 }
.op-gear:active{
    background:#0099FF;
    border:2px solid blue;
 }
.gear-img {
    height: 100%;
}
.small-buttons {
    height: 80%;
}
/* occludes view of buttons */
.white-square {
    border: 2px solid #FFF;
    border-radius: 100%;
    display: inline-block;
    background-color: #FFF;
    position: relative;
    width: 50px;
    height: 25px;
    z-index: 2;
    top: 10px;
    left: -63px;
}
.options {
    position:relative;
    z-index: 1;
    margin-left: -113px;
    visibility: hidden;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.options-out {
    position:relative;
    z-index: 1;
    margin-left: -60px;
    height: 300px;
    visibility: visible;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* add habit */
#addHabit{position:fixed; bottom: 40px; right:40px;background:rgba(33, 72, 100, 1.0); width: 60px;height:60px; vertical-align: middle; font-size:36px; padding: 5px;line-height: 100%;color:white; border:2px solid rgba(85,85,85,0.7); -webkit-appereance: none; border-radius: 50%; box-shadow: 0 0 3px gray;}
#addHabit:hover{background: rgba(33, 72, 100, 0.7); border:1px solid rgba(85,85,85,0.7); box-shadow: 0 0 5px gray;}
#addHabit:active{border: 2px solid gray; background: rgb(33, 72, 100); box-shadow: 0 0 10px gray;}
#addHabit:focus{outline-style:none;}

/* mesage above add habit when there are no habits displayed */
#addHabit-empty{position: fixed; text-align: center; width: 60px; bottom: 110px; right: 40px; visibility: hidden;}
#addHabit-message{padding:5%; /*background: rgba(255,255,255,1);*/ border:2px solid rgb(0,0,0); border-radius:5px; box-sizing: border-box; position: relative; width: 260px; right: 200px; font-size: x-large;}
#addHabit-arrow{width: 60px;}


/* phone */
@media only screen
    and (max-width: 500px) {
        section{width:350px;margin: 0 auto;}
        .message{right:5px;bottom:65px;font-size: small;}
        .graph-message {
            max-width: 200px;
            word-wrap: break-word;
            margin-left: 0px;
        }
		.habit-name
		{
			max-width: 210px;
		}
}

/* iphone 4 and 5 */
@media only screen
    and (max-width: 350px) {
        section{width:300px;margin: 0 auto;}
        .message{right:4px;bottom:65px;font-size: xx-small;}
		.habit-name
		{
			max-width: 160px;
		}
		.habit-op
		{
			right: -27px;
		}
}

/* desktop, tablet */
@media only screen
    and (min-width: 500px) {
    section{width:500px;margin: 0 auto;}
    .message{
        right: 14px;
        bottom: 65px;
        width: 343px;
    }
	.habit-name
	{
		max-width: 350px;
	}
}